*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Inter', 'Montserrat', sans-serif;
}
.about-top {
   background: linear-gradient(
      rgba(0,0,0,0.7),
      rgba(0,0,0,0.7)
    ),
    url("/public/open-hour.jpg");

  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 10px 20px;
  width: 100%;
  height: 90vh;
}
.about-top{
    margin: 0px 0px 0px 0px;
}
.a-first{
    display: flex;
    gap: 10px;
    font-size: 1.8rem;
    text-align: center;
    justify-content: center;
    margin: 35vh 23vw 0 50vh;

}
.a-first h1:last-child {
    color: #E55F60;
}
.a-back{
    margin: 0 23vw 0 50vh;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}
.a-back span:first-child:hover{
    color: #F9CE75;
    transition: 0.4s;

}


@media (min-width:320px) and (max-width:480px){
    .a-first{
        font-size: 1.3rem;
         margin: 35vh auto auto auto;
    }
    .a-back{
        margin: auto;
    }
}
@media (min-width:481px) and (max-width:600px){
    .a-first{
        font-size: 1.4rem;
         margin: 35vh auto auto auto;
    }
    .a-back{
        margin: auto;
    }
}

@media (min-width:601px) and (max-width:768px){
    .a-first{
        font-size: 1.6rem;
         margin: 35vh auto auto auto;
    }
    .a-back{
        margin: auto;
    }
}