*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact-top {
   background: linear-gradient(
      rgba(0,0,0,0.2),
      rgba(0,0,0,0.2)
    ),
    url("/public/cc-img.jpeg");

  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 10px 20px;
  width: 100%;
  height:650px;
}
.contact-top{
    margin: 0px 0px 0px 0px;
}
.c-first{
    display: flex;
    gap: 10px;
    margin: 40px 0px 0px 0px;
    font-size: 1.8rem;
    text-align: center;
    justify-content: center;

}
.c-first h1:last-child {
  color: #E55F60;
}
.c-back{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}


@media screen and (min-width:320px) and (max-width:480px) {

  .contact-top{
    padding: 130px 0px 0px 30px;
    height: 500px;
}
    
}
@media screen and (min-width:481px) and (max-width:600px) {

   
  .contact-top{
    padding: 130px 0px 0px 30px;
    height: 500px;
   }

}
@media screen and (min-width:601px) and (max-width:768px) {

  .contact-top{
    padding: 140px 0px 0px 30px;
    height: 500px;
}


    
}
@media screen and (min-width:1024px) and (max-width:1280px) {

   
  .contact-top{
    padding: 180px 0px 0px 30px;
}
    
}
@media screen and (min-width:1281px) and (max-width:1440px) {

  .contact-top{
    padding: 180px 0px 0px 30px;
}

  
    
}
@media screen and (min-width:1441px) and (max-width:1600px) {

  .contact-top{
    padding: 180px 0px 0px 30px;
    height: 750px ;
}
    
}
@media screen and (min-width:1601px) and (max-width:1920px) {

  .contact-top{
    padding: 250px 0px 0px 30px;
    height: 980px ;
}
    
}