.reviews {
  padding: 100px 20px;
  background: #fff;
  text-align: center;
}

.reviews h2 {
  font-size: 36px;
  font-weight: 700;
}

.reviews p {
  margin-top: 8px;
  color: #777;
}

.review-grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 35px;
}

.review-card {
  background: #fff7f3;
  padding: 35px 25px;
  border-radius: 25px;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.review-card:hover {
  transform: translateY(-8px);
  cursor: pointer;
}

.stars {
  font-size: 20px;
  color: #ffb703;
  margin-bottom: 15px;
}

.comment {
  font-size: 15px;
  color: #555;
  margin-bottom: 15px;
  line-height: 1.6;
}

.review-card h4 {
  font-size: 16px;
  font-weight: 600;
  color: #E55F60;
}


@media screen and (min-width:320px) and (max-width:480px) {
  
  .reviews h2{
    font-size: 1.2rem;
  }
  .reviews p{
    font-size: 0.8rem;
  }
}

@media screen and (min-width:481px) and (max-width:600px) {
  
   .reviews h2{
    font-size: 1.5rem;
  }
  .reviews p{
    font-size: 1rem;
  }
}


@media screen and (min-width:601px) and (max-width:768px) {
  
   .reviews h2{
    font-size: 1.7rem;
  }
  .reviews p{
    font-size: 1.2rem;
  }
}
