.hero-details {
   background: linear-gradient(
      rgba(0,0,0,0.2),
      rgba(0,0,0,0.2)
    ),
    url("/public/hero-img.jpg");

  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 10px 20px;
  width: 100%;
  height:650px;
}
.hero-details{
    margin: 0px 0px 0px 0px;
}
.hero-details h1{
    font-size: 3.3rem;
}
.h-detail-flex{
    display: flex;
    gap: 12px;
    margin:5px 0px 10px 0px;
}
.h-detail-flex h1:last-child {
  color: #E55F60;
}
.hero-details p{
    text-align: justify;
}
.hero-details button{
    margin-top: 50px;
}
.book-btn-mid {
  background: #E55F60;
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 20px;
  border-radius: 20px;
  cursor: pointer;
}
.book-btn-mid:hover{
    background: #C02B35;
    transition: 0.5s;
}



@media screen and (min-width:320px) and (max-width:480px) {

    .hero-details h1 {
    font-size: 1.9rem;
    margin: 0px 0px 0px 0px;
  }
  .h-detail-flex{
    display: flex;
    flex-direction: row;
  }
  .hero-details{
    padding: 130px 0px 0px 30px;
    height: 500px;
}

  .hero-details p {
    font-size: 1rem;
    width: 80%;
    line-height: 1.4;
    padding-top: 10px;
    text-align: justify;
  }
  .hero-details button{
    margin-top: 30px;
    padding: 10px 18px;
}
.logo-p{
    display: block;
    color: white;
}
    
}
@media screen and (min-width:481px) and (max-width:600px) {

    .hero-details h1 {
    font-size: 2.4rem;
    margin: 0px 0px 0px 0px;
  }
  .h-detail-flex{
    display: flex;
    flex-direction: row;
  }
  .hero-details{
    padding: 130px 0px 0px 30px;
    height: 500px;
}

  .hero-details p {
    font-size: 1rem;
    width: 80%;
    line-height: 1.4;
    padding-top: 10px;
    text-align: justify;
  }
  .hero-details button{
    margin-top: 30px;
    padding: 10px 18px;
}
.logo-p{
    display: block;
    color: white;
}
    
}
@media screen and (min-width:601px) and (max-width:768px) {

    .hero-details h1 {
    font-size: 2.6rem;
    margin: 0px 0px 0px 0px;
  }
  .h-detail-flex{
    display: flex;
    flex-direction: row;
  }
  .hero-details{
    padding: 140px 0px 0px 30px;
    height: 500px;
}

  .hero-details p {
    font-size: 1.1rem;
    width: 80%;
    line-height: 1.4;
    padding-top: 10px;
    text-align: justify;
  }
  .hero-details button{
    margin-top: 30px;
}
.logo-p{
    display: block;
    color: white;
}
    
}
@media screen and (min-width:1024px) and (max-width:1280px) {

    .hero-details h1 {
    font-size: 3rem;
    margin: 10px 0px 0px 0px;
  }
  .hero-details{
    padding: 180px 0px 0px 30px;
}

  .hero-details p {
    font-size: 1.5rem;
    width: 50%;
    line-height: 1.4;
    padding-top: 10px;
    text-align: justify;
  }
  .hero-details button{
    margin-top: 40px;
}
.logo-p{
    display: none;
}
    
}
@media screen and (min-width:1281px) and (max-width:1440px) {

    .hero-details h1 {
    font-size: 3.5rem;
    margin: 10px 0px 0px 0px;
  }
  .hero-details{
    padding: 180px 0px 0px 30px;
}

  .hero-details p {
    font-size: 1.5rem;
    width: 50%;
    line-height: 1.4;
    padding-top: 10px;
    text-align: justify;
  }
  .hero-details button{
    margin-top: 40px;
}
.logo-p{
    display: none;
}
    
}
@media screen and (min-width:1441px) and (max-width:1600px) {

    .hero-details h1 {
    font-size: 3.7rem;
    margin: 10px 0px 0px 0px;
  }
  .hero-details{
    padding: 180px 0px 0px 30px;
    height: 750px ;
}

  .hero-details p {
    font-size: 1.8rem;
    width: 50%;
    line-height: 1.2;
    padding-top: 10px;
    text-align: justify;
  }
  .hero-details button{
    margin-top: 40px;
    font-size: 1.2rem;
    padding: 17px 40px;
}
.logo-p{
    display: none;
}
    
}
@media screen and (min-width:1601px) and (max-width:1920px) {

    .hero-details h1 {
    font-size: 5rem;
    margin: 10px 0px 0px 0px;
  }
  .hero-details{
    padding: 250px 0px 0px 30px;
    height: 980px ;
}

  .hero-details p {
    font-size: 2.2rem;
    width: 50%;
    line-height: 1.2;
    padding-top: 20px;
    text-align: justify;
  }
  .hero-details button{
    margin-top: 80px;
    font-size: 1.2rem;
    padding: 20px 50px;
}
.logo-p{
    display: none;
}
    
}