.popular-food {
  padding: 70px 20px;
  background: linear-gradient(180deg, #fff7f3, #ffffff);
  text-align: center;
}

.popular-food h2 {
  font-size: 38px;
  font-weight: 700;
}

.popular-food p {
  color: #777;
  margin-top: 8px;
}

.food-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  margin-top: 40px;
  justify-items: center;
}


.food-card {
  width: 350px;
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  transition: all 0.35s ease;
}


.food-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.food-card img:hover {
  transform: scale(1.05);
}


.food-badge {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 6px 14px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 20px;
  color: white;
  z-index: 2;
}

.food-badge.veg {
  background: linear-gradient(135deg, #1dbf73, #16a34a);
}

.food-badge.nonveg {
  background: linear-gradient(135deg, #ff512f, #dd2476);
}


.content {
  padding: 20px;
  text-align: center;
}

.content h3 {
  font-size: 20px;
  font-weight: 600;
}


.meta {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin: 6px 0 10px;
  font-size: 14px;
}

.rating {
  color: #f59e0b;
  font-weight: 600;
  background-color: rgba(192, 192, 192, 0.158);
  padding: 6px 6px 6px 6px;
  border-radius: 10px;
}

.time {
  color: #555;
  font-weight: 500;
   background-color: rgba(192, 192, 192, 0.158);
  padding: 6px 6px 6px 6px;
  border-radius: 10px
}

.content p {
  font-size: 14px;
  color: #666;
  margin: 8px 0 15px;
}


.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  font-size: 18px;
  font-weight: 700;
  color: #1dbf73;
}


.card-btn {
  background: #E55F60;
  color: white;
  border: none;
  padding: 9px 22px;
  font-size: 14px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-btn:hover {
  background-color: #C02B35;
}

.last-word{
  display: flex;
  gap: 8px;
  justify-content: center;
}

@media screen and (min-width:320px) and (max-width:480px) {

  .popular-food{
    padding: 70px 10px;
  }

  .food-card{
    width: 300px;
  }
  
  .popular-food h2{
    font-size: 1.2rem;
  }
  .popular-food p{
    font-size: 0.8rem;
  }
}

@media screen and (min-width:481px) and (max-width:600px) {
  
   .popular-food h2{
    font-size: 1.5rem;
  }
  .popular-food p{
    font-size: 1rem;
  }
}


@media screen and (min-width:601px) and (max-width:768px) {
  
   .popular-food h2{
    font-size: 1.7rem;
  }
  .popular-food p{
    font-size: 1.2rem;
  }
}
