.rbt1-wrapper {
  min-height: 100vh;
  background: #d9d3cf;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 20px;
  font-family: 'Poppins', sans-serif;
}


.rbt1-header {
  text-align: center;
  margin-bottom: 50px;
}

.rbt1-header h1 {
  font-size: 60px;
  letter-spacing: 10px;
  color: #4a4a4a;
}

.rbt1-header p {
  font-size: 20px;
  color: #555;
  margin-top: 10px;
}

.rbt1-steps {
  margin-top: 20px;
}

.rbt1-steps span {
  display: inline-block;
  width: 35px;
  height: 8px;
  border-radius: 10px;
  background: #777;
  margin: 0 5px;
}

.rbt1-steps .active {
  background: #e05656;
}



.rbt1-form {
  width: 100%;
  max-width: 650px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.rbt1-field label {
  font-size: 14px;
  margin-left: 20px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #333;
}

.rbt1-field select,
.rbt1-field input {
  width: 100%;
  margin-top: 10px;
  padding: 18px;
  border-radius: 50px;
  border: 2px solid #b5a89f;
  background: transparent;
  font-size: 16px;
  outline: none;
}


.rbt1-btn {
  margin-top: 50px;
  width: 100%;
  max-width: 500px;
  padding: 22px;
  border-radius: 60px;
  border: none;
  background: #e05656;
  color: white;
  font-size: 20px;
  letter-spacing: 3px;
  cursor: pointer;
  transition: 0.3s;
}

.rbt1-btn:hover {
  background: #c74444;
}


.rbt1-loader-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.rbt1-loader {
  width: 70px;
  height: 70px;
  border: 8px solid #fff;
  border-top: 8px solid #e05656;
  border-radius: 50%;
  animation: rbt1-spin 1s linear infinite;
}

@keyframes rbt1-spin {
  to {
    transform: rotate(360deg);
  }
}

@media (min-width:320px) and (max-width:480px) {
    .rbt1-header h1{
        font-size: 1.2rem !important;
    }
    .rbt1-header p{
        font-size: 1rem !important;
    }
}

@media (max-width: 768px) {
  .rbt1-form {
    grid-template-columns: 1fr;
  }

  .rbt1-header h1 {
    font-size: 40px;
  }
}
