.steps-container {
  text-align: center;
  padding: 60px 20px;
  background: #fff8f5;
  font-family: 'Poppins', sans-serif;
}

.steps-container h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #1e1e1e;
}

.subtitle {
  color: #777;
  margin-bottom: 40px;
  font-size: 16px;
}

.steps-box {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.step-card {
  background: #fff;
  position: relative;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  width: 310px;
  height: 260px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}
.step-one-img{
  width: 200px;
  height: 150px;
  margin-top: 25px;
}

.step-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.12);
}

.step-icon {
  width: 50px;
  position: absolute;
  left: 125px;
  top: -15px;
  height: 50px;
  margin: 0 auto 15px auto;
  background: #ff4d30;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-card h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #1e1e1e;
}

.step-card p {
  font-size: 14px;
  color: #777;
}


@media screen and (min-width:320px) and (max-width:480px) {
  
  .steps-container h1{
    font-size: 1.2rem;
  }
  .steps-container p{
    font-size: 0.8rem;
  }
}

@media screen and (min-width:481px) and (max-width:600px) {
  
   .steps-container h1{
    font-size: 1.5rem;
  }
  .steps-container p{
    font-size: 1rem;
  }
}


@media screen and (min-width:601px) and (max-width:768px) {
  
   .steps-container h1{
    font-size: 1.7rem;
  }
  .steps-container p{
    font-size: 1.2rem;
  }
}