*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wedo-container{
    margin: 100px 0 100px 0;
}
.wedo-container h1{
    text-align: center;
    font-size: 2.5rem;
}
.wedo-grid {
  display: grid;
  margin: 0 20px 0 20px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 35px;
  margin-top: 40px;
}
.wedo-grid h3{
    text-align: center;
}
.wedo-grid p{
    text-align: center;
}

.wedo-card {
  background: #fff;
  border: 1px solid rgba(192, 192, 192, 0.53);
  padding: 35px 25px;
  border-radius: 25px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.08);
  transition: all 0.35s ease;
  cursor: pointer;
}

.wedo-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 35px 65px rgba(0, 0, 0, 0.15);
}

.wedo-icon {
  width: 70px;
  height: 70px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background: linear-gradient(135deg, #ff512f, #dd2476);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: white;
}
.wedo-icon i {
    padding: 18px;
    width: 70px;
    height: 70px;
}

.wedo-card h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.wedo-card p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}



@media (min-width:320px) and (max-width:480px){
  .wedo-container h1{
    font-size: 2rem;
  }
}

@media (min-width:481px) and (max-width:600px){
  .wedo-container h1{
    font-size: 2.2rem;
  }
}