.why-choose {
  padding: 100px 20px;
  background: linear-gradient(180deg, #ffffff, #fff7f3);
  text-align: center;
}

.why-choose h2 {
  font-size: 38px;
  font-weight: 700;
}

.why-choose p {
  margin-top: 8px;
  color: #777;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 35px;
  margin-top: 60px;
}

.why-card {
  background: #fff;
  padding: 35px 25px;
  border-radius: 25px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.08);
  transition: all 0.35s ease;
  cursor: pointer;
}

.why-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 35px 65px rgba(0, 0, 0, 0.15);
}

.icon {
  width: 70px;
  height: 70px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background: linear-gradient(135deg, #ff512f, #dd2476);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: white;
}
.icon img {
    width: 70px;
    height: 70px;
}

.why-card h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.why-card p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}

@media screen and (min-width:320px) and (max-width:480px) {
  
  .why-choose h2{
    font-size: 1.2rem;
  }
  .why-choose p{
    font-size: 0.8rem;
  }
}

@media screen and (min-width:481px) and (max-width:600px) {
  
   .why-choose h2{
    font-size: 1.5rem;
  }
  .why-choose p{
    font-size: 1rem;
  }
}


@media screen and (min-width:601px) and (max-width:768px) {
  
   .why-choose h2{
    font-size: 1.7rem;
  }
  .why-choose p{
    font-size: 1.2rem;
  }
}